# <font color=purple>SPARQL queries - Use Cases</font>

## <font color=purple>Background</font>

The following are SPARQL queries that address the below research questions.

1. **<font color=blue>What are the trends of people's occupations over the years between 1980's to 2020's?</font>**
2. **<font color=blue>Are there more older people who work in professional roles?</font>**
3. **<font color=blue>What is the age of people who is born outside of mainland China?</font>**
4. **<font color=blue>Are there more younger people who was born Hong Kong than in mainland China?</font>**
5. What are the differences in occupations between older people who were born in Taiwan and mainland China?
6. Are there more younger people who have a university degree and who was born in Hong Kong?
7. Does people who work in professional roles will have less children?

## <font color=purple>Setup endpoints with graph database</font>

We will use the graph database endpoints to retrieve data using SPARQL queries. Below is for an [AllegraGraph](https://allegrograph.com/products/allegrograph/) instance running on a local machine. These parameters can be changed if the graph database and data is resided on the cloud.

In [1]:
# setup endpoint and display for current notes

%endpoint http://localhost:10035/repositories/surveydatacommons/sparql
%auth basic test xyzzy
%display table withtypes

Endpoint set to: http://localhost:10035/repositories/surveydatacommons/sparql
HTTP authentication: method=basic, user=test, passwd set
Display: table
Show Types: on

## <font color=purple>Retrieve all datasets over time from the graph database</font>

The below SPARQL query retrieves all datasets from the graph database at one specific point in time, or between a time period. These datasets can be used to perform a time-series analysis.

### Obtain all datasets that was capture in 1981 within the first wave of study

In [2]:
PREFIX cwork: <http://schema.org/CreativeWork>

# View triples
SELECT (COUNT(?_contributor) AS $participant)  WHERE
{ 
  ?Dataset cwork:name ?object ;
           cwork:identifier '1' ;
           cwork:contentReferenceTime '1985' ;
           cwork:contributor ?_contributor .
} ORDER BY ?_year

participant,type
4307,"literal, none"

### Obtain the dataset of the contributor who identify's with 3335200715

In [3]:
PREFIX cwork: <http://schema.org/CreativeWork>

# View triples
SELECT DISTINCT ?_year ?_wave
WHERE
{ 
  ?Dataset cwork:name $_name ;
           cwork:contentReferenceTime ?_year ;
           cwork:identifier ?_wave ;
           cwork:contributor ?_contributor . 
  FILTER regex(str(?_contributor), '3335200715') . 
}

_year,type,_wave,type
1985,"literal, none",2,"literal, none"
1985,"literal, none",1,"literal, none"

### Obtain all participants by year who contributed to datasets across all time periods

In [4]:
PREFIX cwork: <http://schema.org/CreativeWork>

# View triples
SELECT ?_contributor ?_year ?_wave
WHERE
{ 
    ?Dataset cwork:name $object ;
             cwork:contentReferenceTime ?_year ;
             cwork:identifier ?_wave ;
             cwork:contributor ?_contributor . 
} ORDER BY ?_year

_contributor,type,_year,type,_wave,type
per:tscs1_per#3335200715,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200714,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200713,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200712,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200711,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200710,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200709,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200708,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200707,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200706,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200705,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200704,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200703,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200702,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335200701,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335100415,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335100414,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335100413,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335100412,"literal, none",1985,"literal, none",1,"literal, none"
per:tscs1_per#3335100411,"literal, none",1985,"literal, none",1,"literal, none"

### Obtain the number of participants who contributed to datasets across all time periods

In [5]:
PREFIX cwork: <http://schema.org/CreativeWork>

# View triples
SELECT (SAMPLE(?_year) AS $year)
       (SAMPLE(?_wave) AS $wave)
       (COUNT(?_contributor) AS $participant_no) 
WHERE 
{
  ?Dataset cwork:name $object ;
           cwork:contentReferenceTime ?_year ;
           cwork:identifier ?_wave ;
           cwork:contributor ?_contributor . 
}
GROUP BY ?Dataset
ORDER BY ?_year

year,type,wave,type,participant_no,type
1985,"literal, none",2,"literal, none",4199,"literal, none"
1985,"literal, none",1,"literal, none",4307,"literal, none"
1990,"literal, none",4,"literal, none",2531,"literal, none"
1990,"literal, none",3,"literal, none",2531,"literal, none"
1990,"literal, none",1,"literal, none",1000,"literal, none"
1991,"literal, none",6,"literal, none",1139,"literal, none"
1991,"literal, none",5,"literal, none",2488,"literal, none"
1992,"literal, none",8,"literal, none",1408,"literal, none"
1992,"literal, none",7,"literal, none",2377,"literal, none"
1993,"literal, none",9,"literal, none",1946,"literal, none"
1994,"literal, none",10,"literal, none",1853,"literal, none"
1994,"literal, none",11,"literal, none",1862,"literal, none"
1995,"literal, none",13,"literal, none",2081,"literal, none"
1995,"literal, none",2,"literal, none",1500,"literal, none"
1995,"literal, none",12,"literal, none",2093,"literal, none"
1996,"literal, none",14,"literal, none",1924,"literal, none"
1996,"literal, none",15,"literal, none",2831,"literal, none"
1997,"literal, none",17,"literal, none",2835,"literal, none"
1997,"literal, none",16,"literal, none",2596,"literal, none"
1997,"literal, none",18,"literal, none",1717,"literal, none"

### Obtain the all participants who contributed to different years

In [7]:
PREFIX cwork: <http://schema.org/CreativeWork>

SELECT ?_id ?_year
WHERE{
    ?subject a ?Dataset ;
        cwork:contentReferenceTime ?_year ;
        cwork:contributor ?_contributor .
    BIND(iri(strafter(?_contributor, ":")) As ?_id)
}

_id,type,_year,type
http://127.0.0.1:42073/repositories/surveydatacommons/tscs1_per#3335200715,uri,1985,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs22_per#50320,uri,1999,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs31_per#12721,uri,2003,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs40_per#324302,uri,2008,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs13_per#158071111,uri,2019,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs30_per#103,uri,2003,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs11_per#84603,uri,1994,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs52_per#360202,uri,2014,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs4_per#635,uri,2005,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs14_per#446070923,uri,2019,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs13_per#71469,uri,1995,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs34_per#234508,uri,2005,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs2_per#687,uri,1995,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs54_per#433206,uri,2015,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs12_per#344071425,uri,2018,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs19_per#41550,uri,1998,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs11_per#76,uri,2014,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs1_per#118,uri,1990,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/wvs10_per#1911,uri,2013,"literal, none"
http://127.0.0.1:42073/repositories/surveydatacommons/tscs47_per#912105,uri,2011,"literal, none"

## <font color=purple>Retrieve all persons who have contributed to a dataset from the graph database</font>

The below SPARQL query retrieve people who have contributed to a dataset from the graph database across all time periods.

### Obtain all participants across all time periods

In [6]:
PREFIX per: <http://schema.org/Person>

# View triples
SELECT ?Person  
WHERE { 
  ?Person ?predicate ?object ;
          a per:Person
}

Person,type
http://schema.org/Persontscs31_per#82202,uri
http://schema.org/Persontscs31_per#82202,uri
http://schema.org/Persontscs31_per#82202,uri
http://schema.org/Persontscs31_per#82236,uri
http://schema.org/Persontscs31_per#82236,uri
http://schema.org/Persontscs31_per#82236,uri
http://schema.org/Persontscs31_per#82236,uri
http://schema.org/Persontscs31_per#82236,uri
http://schema.org/Persontscs31_per#82236,uri
http://schema.org/Persontscs31_per#82236_spouse_1,uri
http://schema.org/Persontscs31_per#82236_spouse_1,uri
http://schema.org/Persontscs31_per#82213,uri
http://schema.org/Persontscs31_per#82213,uri
http://schema.org/Persontscs31_per#82213,uri
http://schema.org/Persontscs31_per#82213,uri
http://schema.org/Persontscs31_per#82213,uri
http://schema.org/Persontscs31_per#82213,uri
http://schema.org/Persontscs31_per#82213_spouse_1,uri
http://schema.org/Persontscs31_per#82213_spouse_1,uri
http://schema.org/Persontscs31_per#82209,uri

### Obtain all participant's occupations across all time periods

In [49]:
PREFIX per: <http://schema.org/Person>
PREFIX occ: <http://schema.org/Occupation>

# View triples
SELECT DISTINCT ?_identifier ?_occupation_name
WHERE
{
  ?subject a ?Person ;
           per:identifier ?_identifier ;
           per:hasOccupation ?_occupation .
  ?_occupation occ:name ?_occupation_name . 
}

_identifier,type,_occupation_name,type
2202805207,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805209,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805215,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
1137700601,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3101202401,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302013,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302101,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302123,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302127,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201700921,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3104903715,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3207302101,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3208402313,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3109500407,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3109500419,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3310000607,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3310000621,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3310000623,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3210002207,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3110600115,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"

In [17]:
# query on a person who has an identifier but no birth date
PREFIX per: <http://schema.org/Person>
PREFIX occ: <http://schema.org/Occupation>

# View triples
SELECT DISTINCT ?subject ?_occupation_name
WHERE
{
  ?subject a ?Person ;
           per:identifier '3322101807' ;
           per:hasOccupation ?_occupation .
  ?_occupation occ:name ?_occupation_name . 
}

subject,type,_occupation_name,type
http://schema.org/Persontscs1_per#3322101807,uri,Agricultural and Animal Husbandry Workers,"literal, none"
http://schema.org/Persontscs2_per#3322101807,uri,Bookkeepers and Related Clerks,"literal, none"

### Obtain all participant's age and occupation across all time periods.

In [3]:
PREFIX per: <http://schema.org/Person>
PREFIX occ: <http://schema.org/Occupation>

SELECT DISTINCT ?_identifier ?_dob ?_occupation_name
WHERE
{ 
    ?subject a ?Person ;
             per:identifier ?_identifier ;
             per:birthDate ?_dob ;
             per:hasOccupation ?_occupation .
    ?_occupation occ:name ?_occupation_name .
}

_identifier,type,_dob,type,_occupation_name,type
2202805207,"literal, none",1946-2-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805207,"literal, none",1964-3-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805209,"literal, none",1944-9-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805209,"literal, none",1954-9-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805215,"literal, none",1957-6-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
2202805215,"literal, none",1932-5-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
1137700601,"literal, none",1953-1-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3101202401,"literal, none",1945-1-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302013,"literal, none",1952-12-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302101,"literal, none",1948-6-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302123,"literal, none",1934-12-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201302127,"literal, none",1951-7-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3201700921,"literal, none",1928-8-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3104903715,"literal, none",1939-11-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3207302101,"literal, none",1938-10-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3208402313,"literal, none",1959-10-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3109500407,"literal, none",1947-9-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3109500419,"literal, none",1958-4-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3310000607,"literal, none",1923-7-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3310000621,"literal, none",1954-12-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"

In [2]:
PREFIX per: <http://schema.org/Person>
PREFIX occ: <http://schema.org/Occupation>

# View triples
SELECT DISTINCT ?_identifier ?_occupation_name ?_dob 
WHERE
{
  ?subject a ?Person ;
           per:identifier ?_identifier ;
           per:hasOccupation ?_occupation .
  ?_occupation occ:name ?_occupation_name . 
  OPTIONAL { ?subject per:birthDate ?_dob . }
  ?subject per:birthDate 'NA' .
}

_identifier,type,_occupation_name,type,_dob,type
3322101807,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none",NA,"literal, none"
50320,"literal, none",Post Clerk,"literal, none",NA,"literal, none"
40319,"literal, none",Bricklayers Carpenters and Joiners and other Construction Workers,"literal, none",NA,"literal, none"
91559,"literal, none",Armed force,"literal, none",NA,"literal, none"
91543,"literal, none",Armed force,"literal, none",NA,"literal, none"
91535,"literal, none",Painters,"literal, none",NA,"literal, none"
91513,"literal, none",Armed force,"literal, none",NA,"literal, none"
91503,"literal, none",Other Production and Related Workers,"literal, none",NA,"literal, none"
91454,"literal, none",Armed force,"literal, none",NA,"literal, none"
91443,"literal, none",Armed force,"literal, none",NA,"literal, none"
91430,"literal, none",Armed force,"literal, none",NA,"literal, none"
91419,"literal, none",Armed force,"literal, none",NA,"literal, none"
91408,"literal, none",Painters,"literal, none",NA,"literal, none"
91348,"literal, none",Painters,"literal, none",NA,"literal, none"
91343,"literal, none",Armed force,"literal, none",NA,"literal, none"
91342,"literal, none",Armed force,"literal, none",NA,"literal, none"
91333,"literal, none",Armed force,"literal, none",NA,"literal, none"
91328,"literal, none",Other Production and Related Workers,"literal, none",NA,"literal, none"
91325,"literal, none",Armed force,"literal, none",NA,"literal, none"
91320,"literal, none",Painters,"literal, none",NA,"literal, none"

In [2]:
PREFIX per: <http://schema.org/Person>
PREFIX occ: <http://schema.org/Occupation>

SELECT DISTINCT ?_identifier ?_dob ?_occupation_name
WHERE
{ 
    ?subject a ?Person ;
             per:identifier ?_identifier ; 
             per:hasOccupation ?_occupation .
    ?_occupation occ:name ?_occupation_name .
    OPTIONAL { ?subject per:birthDate ?_dob . }
}

_identifier,type,_dob,type,_occupation_name,type
3335200714,"literal, none",1950-5-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335200713,"literal, none",1927-9-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335200712,"literal, none",1937-6-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335200710,"literal, none",1951-12-01,"literal, none",Legislators and Government Administrators,"literal, none"
3335200708,"literal, none",1955-1-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335200707,"literal, none",1934-3-01,"literal, none",Barber Shops Beauty Salons and related Workers,"literal, none"
3335200706,"literal, none",1925-8-01,"literal, none",Bricklayers Carpenters and Joiners and other Construction Workers,"literal, none"
3335200705,"literal, none",1923-4-01,"literal, none",Furniture Makers and Related Woodware Makers,"literal, none"
3335200703,"literal, none",1932-3-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335200702,"literal, none",1952-9-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100415,"literal, none",1924-4-01,"literal, none",Restaurant Managers and Owners,"literal, none"
3335100414,"literal, none",1936-9-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100413,"literal, none",1957-2-01,"literal, none",Bookkeepers and Related Clerks,"literal, none"
3335100411,"literal, none",1963-1-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100410,"literal, none",1946-2-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100407,"literal, none",1967-3-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100406,"literal, none",1967-12-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100404,"literal, none",1931-12-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100403,"literal, none",1962-11-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"
3335100402,"literal, none",1940-11-01,"literal, none",Agricultural and Animal Husbandry Workers,"literal, none"

## <font color=purple>Retrieve all birth places of individuals who have contributed to a dataset</font>

The below SPARQL query retrieve birth places of individuals who have contributed to a dataset across all time periods.

### Obtain the number of participants for each birth places.

In [ ]:
PREFIX per: <http://schema.org/Person>
PREFIX plc: <http://schema.org/Place>
PREFIX pvl: <http://schema.org/PropertyValue>

SELECT (SAMPLE(?_place) AS $birth_place)
       (COUNT(?_identifier) as $participant_no)
WHERE {
    
}

### Obtain all participant's birth places.

### Obtain all participant's birth places and thier age.